/* Main Container */
.app-container {
  display: flex;
  height: 93vh;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #1E1E1E;
  box-shadow: 2px 0 5px rgba(155, 150, 150, 0.2);
  overflow: hidden; /* Hide scrollbars for the entire container */
}

/* Chat Interface */
.chat-interface {
  width: 75%;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden; /* Hide scrollbars for the chat interface */
}

/* Chat Messages - Enable smooth scrolling and hide scrollbar */
.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #1E1E1E;
  margin-bottom: 20px;
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
  -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
  scroll-behavior: smooth;  /* Smooth scrolling */
  max-height: calc(100vh - 220px); /* Prevent input box from shifting up */
  /* Ensure messages container fits within the container */
}

/* Chat Message Styling */
.chat-message {
  margin-bottom: 10px;
  background-color: #1E1E1E;
 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #b4b4b4;
  word-wrap: break-word;
  display: flex;
}

/* Chat Input Section */
.chat-input {
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 20px;  /* Space between chat messages and input */
  padding-bottom: 20px;  /* To ensure there’s a space at the bottom */
}

.chat-text-input {
  flex: 1;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #666;
  background-color: #1E1E1E;
  color: white;
  margin-right: 10px;
}

/* Send Button */
.send-button {
  background-color: #5757d4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #5757d4;
}

/* Model Switch Button */
.model-switch-button {
  width: 10%;
  padding: 15px;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #5757d4;
  color: white;
  transition: background-color 0.3s;
}

.model-switch-button:hover {
  background-color: #0056b3;
}

/* File Upload Button */
.file-upload-container {
  position: relative;
}

.file-upload-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #5f6368; /* Neutral color */
  transition: color 0.3s ease;
}

.file-upload-button:hover {
  color: #3a7afe; /* Highlight color */
}

.file-upload-icon {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-button:focus {
  outline: none;
}
