
/* Sidebar */
.sidebar {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(155, 150, 150, 0.2);

  background-color: #1E1E1E;
}
.search-bar{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.new-chat-button {
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-color: #5757d4;/* Matches button color */
  color: white;
  cursor: pointer;
  width: 70%;
  margin-bottom: 20px;

}

.thread-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.thread-item {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #5757d4;; /* Matches "New Chat" button color */
  background-color: #f9f9f9;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
}


.active-thread {
  background-color: #5757d4;
  color: white;
}



.sidebar h2 {
  margin-bottom: 10px;
}